.chapter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
    margin: auto;
    padding: 15px;
}

.chapter-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chapter-info-line {
    display: flex;
    justify-content: space-between;
}

.chapter-form > input[type='submit'] {
    width: fit-content;
    align-self: flex-end;
    padding: 5px 10px;
}