.chapter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
    margin: auto;
    padding: 15px;
}

.chapter-form > p {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chapter-form > input[type='submit'] {
    width: fit-content;
    align-self: flex-end;;
    padding: 5px 10px;
}