<div 
    class="chapter-list-modal"
    data-chapter-list-modal
    hidden
    >
        <div class="chapter-list-modal__window">
            <header class="chapter-list-modal__header">
                <button
                    class="chapter-list-modal__close"
                    type="button"
                    data-chapter-list-modal-close
                >
                    ✕
                </button>
                <h2 class="chapter-list-modal__title">
                    Chapter List
                </h2>
            </header>

            <div class="chapter-list-modal__body">
                <ol id="chapter-list">
                    {% for chp in chapters %}
                        <li>
                            {% if chp.public_id == chapter.public_id %}
                                <a class="chpater-list--current-chapter chapter-list__chapter" href="{% url 'catalog:chapter-detail' chp.public_id %}">
                                    Chapter {{ chp.number }} — {{ chp.title }}
                                </a>
                            {% else %}
                                <a class="chapter-list__chapter" href="{% url 'catalog:chapter-detail' chp.public_id %}">
                                    Chapter {{ chp.number }} — {{ chp.title }}
                                </a>
                            {% endif %}
                            
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>