{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block stylesheet %}
    {% endblock %}
    {{ form.media.css }}
</head>
<body>
    <header class="container site-header">
        <span>NMA</span>

        <nav class="site-nav">
            <a href="{% url 'catalog:novel-list' %}">Catalog</a>
        </nav>

        <div>
            {% if user.username %}
                <a href="{% url 'users:user-detail' user.pk %}">
                    {{ user.username }}
                </a>
            {% else %}
                <a href="{% url 'users:login' %}">Log in</a>
                <a href="{% url 'users:register' %}">Register</a>
            {% endif %}
        </div>
    </header>
    <main class="container">
        {% block main %}
        {% endblock %}
    </main>
    {% block script %}
    {% endblock %}
    {{ form.media.js }}
</body>
</html>