{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <!-- Hyperscript (Required for _="" attributes to work) -->
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/novel-search.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/novel-search-form.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/css/novel-search/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/css/catalog-modal.css' %}">
    {% block stylesheet %}
    {% endblock %}
    {{ form.media.css }}
</head>
<body>
    <header class="site-header">
        <div class="container">
            <span>NMA</span>
    
            <nav class="site-nav">
                {% include 'core/partials/novel-search.html' %}
                <div data-novel-search-display>
                    {% include 'core/icons/search.html' %}
                </div>
    
                <div class="catalog">
                    <div data-catalog-button>Catalog</div>
                    {% include 'catalog/partials/catalog-modal.html' %}
    
                </div>
            </nav>
    
            <div>
                {% if user.username %}
                    <a href="{% url 'users:user-detail' user.pk %}">
                        {{ user.username }}
                    </a>
                {% else %}
                    <a href="{% url 'users:login' %}">Log in</a>
                    <a href="{% url 'users:register' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="container">
        {% block main %}
        {% endblock %}
    </main>
    <script src="{% static 'core/js/novel-search/clear.js' %}" defer></script>
    <script src="{% static 'core/js/novel-search/display.js' %}" defer></script>
    <script src="{% static 'catalog/js/catalog-modal.js' %}" defer></script>
    {% block script %}
    {% endblock %}
    {{ form.media.js }}
</body>
</html>