:root {
    --text-md: .8rem;
    --text-base: .9rem;
    --text-lg: 1rem;
    --text-xl: 1.1rem;
    --text-2xl: 1.2rem;
    --text-3xl: 1.3rem;
    --color: hsl(0, 0%, 100%);
    --bg-color: hsl(258, 5%, 16%);
    --bg-color-1lv: hsl(0, 0%, 5%);
    --bg-color-2lv: hsl(0, 0%, 13%);
    --border-color: hsl(250, 0%, 60%);

    --bd: 1px solid hsl(0, 0%, 50%);

    /* shadow */
    --modal-shadow: 0px 1px 4px -1px #000000;
}


body {
    font-family:
        "Inter", 
        "Helvetica Neue", 
        Arial, 
        sans-serif;

    font-size: var(--text-base);
    background-color: var(--bg-color-1lv);
    color: var(--color);
    margin: auto;
}

select {
    background-color: var(--bg-color-2lv);
    padding: 8px;
}

.section {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--bg-color-2lv);
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}


.container {
    width: min(1180px, 100%);
    margin: auto;
}

.site-header {
    background-color: var(--bg-color-2lv);
}

.site-header .container {
    position: relative;
    
    padding: 10px;
    padding-inline: min;
    display: flex;
    justify-content: space-between;
}

.site-nav {
    display: flex;
    gap: 5px
}


