:root {
    --text-md: .8rem;
    --text-base: .9rem;
    --text-lg: 1rem;
    --text-xl: 1.2rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.8rem;
    --color: hsl(0, 0%, 100%);
    --bg-color: hsl(258, 5%, 16%);
}


body {
    font-family:
        "Inter", 
        "Helvetica Neue", 
        Arial, 
        sans-serif;

    font-size: var(--text-base);
    background-color: var(--bg-color);
    color: var(--color);
}

select {
    background-color: var(--bg-color);
}

.container {
    width: min(1180px, 100%);
    margin-inline: auto;
}

.site-header {
    position: relative;

    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.site-nav {
    display: flex;
    gap: 5px
}

