
.chapter-list-modal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: scroll;
    width: min(400px, 100%);
    background-color: var(--bg-color);
    padding: 10px;
    box-shadow: 0 0 2px 0;
}

.chapter-list-modal__window {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chapter-list-modal__close {
    display: block;
    justify-self: end;
    border: none;
    background-color: var(--bg-color);
}

#chapter-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.chapter-list__chapter {
    padding: 5px;
    border-radius: 2px;
}

.chpater-list--current-chapter {
    background-color: hsl(0deg 1.35% 25.36%);
}